fastapi
uvicorn
pydantic
langgraph
langchain
langchain-core
langchain-community
langchain-groq
redis
requests
python-dotenv
sqlalchemy
asyncpg
psycopg2-binary
httpx
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
aiosmtplib
email-validator
jinja2
google-auth
google-auth-oauthlib
google-auth-httplib2
alembic
typing-extensions
annotated-types
