fastapi
uvicorn
pydantic
langgraph
langchain
langchain-core
langchain-community
langchain-groq
redis
requests
python-dotenv
sqlalchemy
asyncpg
psycopg2-binary
httpx
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
